
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');
:root{
    --main-color:#0097df;
    --red:#e74c3c;
    --oragen:#d2691e;
    --white:#fff;
    --black:#2c3e50;
    --light-color:#696969; 
    --light-bg:#eee;
    --border:.1rem solid rgba(0,0,0,.2);
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none; border: none;
    text-decoration: none;
}
*::selection{
    background-color: var(--main-color);
    color: #fff;
}
*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}
*::-webkit-scrollbar-track{
   background-color: transparent;
}
*::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}
html{
    font-size: 62%;
    overflow: scroll;
}
body{
    background-color: var(--light-bg);
    padding-left: 30rem;
}

body.dark{
    --white:#222;
    --black:#fff;
    --light-color:#aaa; 
    --light-bg:#333;
    --border:.1rem solid rgba(255,255,255,.2);
}

body.active{
   padding-left:0 ; 
}
section{
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.btn, 
.option-btn, 
.delete-btn,
.inline-btn,
.inline-option-btn,
.inline-delete-btn{
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    color:#fff;
    margin-top: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
}

.btn, 
.option-btn, 
.delete-btn{
    display: block;
    width: 100%;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn{
    display:inline-block;
}

.btn,
.inline-btn{
    background-color: var(--main-color);
}

.option-btn,
.inline-option-btn{
    background-color:var(--oragen) ;
}

.delete-btn,
.inline-delete-btn{
    background-color: var(--red);
}

.btn:hover, 
.option-btn:hover, 
.delete-btn:hover,
.inline-btn:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover{
    background-color: var(--oragen);
    color: var(--white);
    transition: all .5s;
}
.flex-btn{
    display:flex;
    gap: 1rem;
}
.heading{
    padding-bottom:1.8rem;
    border-bottom: var(--border);
    font-size: 2.5rem;
    color: var(--black);
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.header{
    background-color: var(--white);
    border-bottom: var(--border);
    position:sticky; 
    top: 0; left: o; right: 0;
    z-index: 1000;
}
.header .flex{
    padding: 1.5rem 2rem; 
    position: relative;
    display:flex; 
    align-items: center;
    justify-content: space-between;
}

.header .flex .logo{
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bolder;
}
.header .flex .search-form{
    width: 50rem;
    border-radius:.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
    background-color:var(--light-bg);
   
}

.header .flex .search-form input{
    width: 100%;
    background:none;
    font-size: 1.8rem;
    color: var(--black);
}

.header .flex .search-form button{
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
    background: none;
}
.header .flex .search-form button:hover{
    color: var(--main-color);
    transform: .5s;
}

.header  .flex .icons div{
   font-size: 2rem;
   color: var(--black);
   border-radius: .5rem;
   height: 4.5rem;
   cursor: pointer;
   width: 4.5rem;
   line-height: 4.4rem;
   background-color: var(--light-bg);
   text-align: center;
   margin-left: .5rem;
  
}
.header  .flex .icons div:hover{
    background-color: var(--black);
    color: var(--white);
    transition: .5s;
}
#search-btn{
    display: none;
}

.header .flex .profile{
    position: absolute;
    top: 120%; right: 2rem;
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    width: 33rem;
    transform: scale(0);
    transform-origin: top right;
    transition: .2s linear;
    border-width:.1rem;
    border-style: solid;
    border-color: var(--main-color);
}

.header .flex .profile.active{
    transform: scale(1);
}


.header .flex .profile img{
    height:10rem; 
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
    
    
}
.header .flex .profile h3{
    font-size: 2rem;
    color: var(--black);
}

.header .flex .profile span{
    color: var(--light-color);
    font-size: 1.6rem;
}


.side-bar{
   position: fixed;
   top: 0; left: 0;
   height: 100vh;
   width: 30rem;
   background-color:var(--white);
   border-right:var(--border);
   transition: .3s linear;
   z-index: 1200;
  
}
.side-bar .close-side-bar{
    text-align: right;
    padding: 2rem;
    padding-bottom: 0;
    display: none;
}

.side-bar .close-side-bar i{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.4rem;
    font-size: 2.5rem;
    color:#fff;
    cursor: pointer;
    background-color: var(--red);
    text-align: center;
    border-radius: .5rem;
   
}

.side-bar .close-side-bar i:hover{
    background-color: var(--black);
}

.side-bar .profile{
    padding: 3rem 2rem;
    text-align: center;
}

.side-bar .profile img{
    height:10rem; 
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
    
}

.side-bar .profile h3{
    font-size: 2rem;
    color: var(--black);
}

.side-bar .profile span{
    color: var(--light-color);
    font-size: 1.6rem;
}

.side-bar .navbar{
    margin-top: 1rem;
    text-align: left;
}

.side-bar .navbar a{
   display: block;
   padding: 1rem; 
   margin: .5rem 0;
   font-size: 1.8rem;
}

.side-bar .navbar a i{
   color: var(--main-color);
   margin-right:1rem;
   transition: .2s linear;
}

.side-bar .navbar a span{
    color: var(--light-color);
}

.side-bar .navbar a:hover{
    background-color: var(--light-bg);
}

.side-bar .navbar a:hover i{
    margin-right:2.5rem;
}

.side-bar.active{
    left: -31rem;
}

.quick-select .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27.5rem,1fr));
    gap: 1.5rem;
    align-items:flex-start;
    justify-content:center;

}

.quick-select .box-container .box{
    border-radius: .5rem;
    background-color: var(--white);
    padding: 1.5rem;
    
}

.quick-select .box-container .title{
    font-size: 2rem;
    color: var(--black);
    

}

.quick-select .box-container .box p{
    line-height: 1.5;
    padding-top:1.5rem;
    color: var(--light-color);
    font-size: 1.7rem;
    
    
}

.quick-select .box-container .box p span{
    color: var(--main-color);
   
}

.quick-select .box-container .tutor{
    text-align: center;
}

.quick-select .box-container .tutor p{
    padding-bottom: 1rem;
}

.quick-select .box-container .box .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top:2rem;
}

.quick-select .box-container .box .flex a{
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    background-color:var(--light-bg) ;
    border-width:.1rem;
    border-style: solid;
    border-color: var(--main-color);
    text-align: center;
}

.quick-select .box-container .box .flex a i{
     margin-right:1rem;
     color: var(--black);
}

.quick-select .box-container .box .flex a span{
    color: var(--light-color);
}

.quick-select .box-container .box .flex a:hover{
    background-color: var(--black);
}


.quick-select .box-container .box .flex a:hover i{
    color: var(--white);
}

.quick-select .box-container .box .flex a:hover span{
    color: var(--light-bg);
}

.courses .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    gap: 1.5rem;
    align-items:flex-start;
    justify-content:center;
}



.courses .box-container .box{
    border-radius: .5rem;
    background-color: var(--white);
    padding: 1.5rem;
   
}

.courses .box-container .box .tutor{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.courses .box-container .box .tutor img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.courses .box-container .box .img{
    height:10rem; 
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}

.courses .box-container .box .tutor h3{
   font-size: 2rem;
   color: var(--black);
   margin-bottom: .2rem;
}

.courses .box-container .box .tutor span{
    font-size: 1.5rem;
    color: var(--light-color);
}


.courses .box-container .box .thumb{
    width: 100%;
    border-radius: .5rem;
    height:20rem;
    object-fit: cover;
}

.courses .box-container .box .title{
    font-size: 2rem;
    color: var(--black);
    margin-top: 1rem;
    padding: .5rem 0;
}

.courses .more-btn{
    margin-top: 2rem;
    text-align: center;
}


.reading .box-container {
    margin-top: 3rem;
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    flex-wrap: wrap;
}



.reading .box-container .box {
    flex: 1 1 15rem;
    background-color:var(--white);
    border-radius: .5rem;
    padding: 2rem;
    align-items: center;
    border-style: solid;
    border-width: .1rem ;
    border-color:--;
}

.reading .box-container .box h1{
    font-size: 2rem;
    text-align: center;
    color: var(--light-color);
} 

.reading .box-container .box i {
    font-size: 3rem;
    color: var(--oragen);
    margin-bottom: 1rem;
}

.reading .box-container .box h3 {
    margin: 1.5rem 0;
    font-size: 2rem;
    color:var(--black)
}
.reading .box-container .box a{
   display: block;
   font-size:1.5rem;
   color: var(--white);
   line-height:1.5;
  margin-top:.5rem;
}

.about .row{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;

}

.about .row .dev{
    gap: 2rem;
}

.about .row .image{
    flex: 1 1 40rem;
}

.about .row .image img{
    width: 100%;
    height: 50rem;
}

.about .row .content{
    flex: 1 1 40rem;
    text-align: center;
    
}

.about .row .content h3{
    font-size: 2.5rem;
    color: var(--black);
}

.about .row .content p{
    line-height: 2;
    font-size: 1.7rem;
    color: var(--black);
    padding:1rem 0;
}

.about .box-container{
    margin-top: 3rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.about .box-container .box{
    flex:  1 1 25rem;
    display: flex;
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    align-items: center;
    gap: 2.5rem;
}

.about .box-container .box i{
    font-size: 3rem;
    color: var(--black);
}

.about .box-container .box h3{
    color: var(--main-color);
    font-size: 2.2rem;
    margin-bottom:.2rem;
}

.about .box-container .box span{
    font-size:1.6rem;
    color: var(--light-color);
}

.review .user .img{
    height:10rem; 
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}

.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 1.5rem;
    align-items:flex-start;
    justify-content:center;
}

.review .box-container .box{
    border-radius: .5rem;
    padding: 2rem;
    background-color: var(--white);
    padding-top: 1.5rem;
}

.review .box-container .box p{
   line-height:2;
   font-size: 1.3rem;
   color: var(--light-color);
}

.review .box-container .box .user{
   display: flex;
   align-items: center;
   gap: 1.5rem;
   margin-top: 1.5rem;
}

.review .box-container .box .user img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3{
    color: var(--black);
    font-size: 2rem;
    margin-bottom:.2rem;
}

.review .box-container .box span{
   color:var(--light-color) ;
}


.review .box-container .box .user .stars i{
    color: var(--main-color);
    font-size: 1.5rem;
    margin-bottom:.2rem;
}

.playlist .row{
   display: flex;
   align-items: center;
   gap: 2.5rem;
   flex-wrap: wrap;
   padding: 2rem;
   background-color: var(--white);
}

.playlist .row .col{
    flex: 1 1 40rem;
}

.playlist .row .col .thumb img{
    height:30rem; 
    width:30rem;
    border-radius: .5rem;
    object-fit: cover;
}

.playlist .row .col .thumb{
    position: relative;
    height: 30rem;
}


.playlist .row .col .thumb span{
   position: absolute;
   top: 1rem; left: 1rem;
   border-radius: .5rem;
   padding: .5rem 1.5rem;
   font-size: 2rem;
   color: #fff;
   background-color:rgba(0,0,0,.4);
   
}

.playlist .row .col .save-list button{
    font-size: 2rem;
    border-radius: .5rem;
    background-color: var(--light-bg);
    padding: 1rem 2rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

.playlist .row .col .save-list button i{
    color: var(--black);
    margin-right: .7rem;
}

.playlist .row .col .save-list button span{
    color: var(--light-color);
}

.playlist .row .col .save-list button:hover{
   background-color: var(--black);
}

.playlist .row .col .save-list button:hover i{
    color: var(--white);
}

.playlist .row .col .save-list button:hover span{
   color: var(--white);
}

.playlist .row .col .tutor{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.playlist .row .col .tutor img{
    height: 10rem;
    width:12rem;
    border-radius:30%;
    object-fit: cover;
}

.playlist .row .col .tutor h3{
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 2rem;
}

.playlist .row .col .tutor span {
    color: var(--main-color);
    font-size: 1.5rem;
}

.playlist .row .col .details{
    padding-top: 2rem;
}

.playlist .row .col .details h3{
   font-size: 2rem;
   color: var(--black);
}

.playlist .row .col .details p{
    padding: 1rem 0;
    line-height: 2;
    color: var(--light-color);
    font-size: 1.7rem;
}

.playlist .row .col .details .date{
    font-size: 1.7rem;
}

.playlist .row .col .details .date i{
    color: var(--main-color);
    margin-right: 1rem;
}

.playlist .row .col .details .date span{
    color: var(--light-color);
}

.video-container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 1.5rem;
    align-items:flex-start;
    justify-content:center;
}

.video-container .box-container .box{
  position: relative;
  border-radius: .5rem;
  padding:2rem;
  background-color: var(--white);
}

.video-container .box-container .box img{
    height: 20rem;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.video-container .box-container .box i{
    position: absolute;
    top: 2rem;
    left:2rem;
    right: 2rem;
    height: 20rem;
    background-color:rgba(0, 0,0,.4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    border-radius: .5rem;
    display:none;
}

.video-container .box-container .box:hover i{
    display: flex;
}

.video-container .box-container .box h3{
    font-size: 2rem;
    color: var(--black);
    margin-top: 1rem;
}



.watch-video .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem,1fr));
    gap: 1.5rem;
    align-items:flex-start;
    justify-content:center;
}

.watch-video .box-container .box{
    position: relative;
    border-radius: .5rem;
    padding:2rem;
    background-color: var(--white);
}

.watch-video .video-details .box{
    background-color: var(--white);
    padding: 2rem;
    align-items: center;
 
}

.watch-video .video-details .box .video{
    width: 37rem;
    height:25rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.watch-video .video-details .title{
    font-size: 2rem;
    color: var(--black);
    padding: 1.5rem 0;
}

.watch-video .video-details .info{
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: var(--border);
}

.watch-video .video-details .info p{
    font-size: 1.6rem;
}

.watch-video .video-details .info p i{
    margin-right: 1rem;
    color: var(--main-color);
}

.watch-video .video-details .info p span{
   color: var(--light-color);
}

.watch-video .video-details .flex{
    display:flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-between;
}

.watch-video .video-details .flex a{
    margin-top:0;
}
.watch-video .video-details .flex button{
    background-color:var(--light-bg);
    cursor: pointer;
    padding: 1rem 2.5rem;
    font-size: 2rem;
    border-radius: .5rem;
}

.watch-video .video-details .flex button i{
    color: var(--black);
    margin-right:1rem;;
}

.watch-video .video-details .flex button span{
    color: var(--light-color);
}

.watch-video .video-details .flex button:hover{
    background-color: var(--black);
}


.watch-video .video-details .flex button:hover i{
   color: var(--oragen);
}

.watch-video .video-details .flex button:hover span{
    color: var(--white);   
}


.comments .add-comments{
    background-color: var(--white);
    border-radius: .5rem;
    margin-bottom:2rem;
    padding:2rem;
} 

.comments .add-comments textarea{
   border-radius: .5rem;
   padding: 1.4rem;
   width:100%;
   height: 20rem;
   background-color: var(--light-bg);
   resize: none;
   font-size: 1.8rem;
   color: var(--black);
}

            
           .about .row p{
            font-size: 1.8rem;
            color: var(--light-color);
           }
            .formbold-mb-3 {
              margin-bottom:5rem;
            }
            .formbold-main-wrapper {
              display: flex;
              align-items: center;
              justify-content: center;
              padding:2rem;
              margin: auto;
              
            }
            .formbold-main-wrapper h1{
                font-size: 3rem;
                color: var(--light-color);
                margin: 2rem 2rem;
                text-align: center;
            }
            .formbold-main-wrapper h1:hover{
                color: var(--main-color);
               
            }
            .formbold-form-wrapper{
              margin: 0 auto;
              max-width: 570px;
              width: 100%;
              background:var(--white);
              padding: 40px;
              border-radius: 1rem;
            }
        
            .formbold-input-wrapp > div {
              display: flex;
              gap: 20px;
            }
          
            .formbold-input-flex {
              display: flex;
              gap: 20px;
              margin-bottom: 15px;
              
            }
            .formbold-input-flex > div {
              width: 50%;
            }
            .formbold-form-input {
              width: 100%;
              padding: 13px 22px;
              border-radius: 5px;
              border: 1px solid orange;
              background:var(--white);
              font-weight: 500;
              font-size: 16px;
              color:var(--light-color);
              outline: none;
              resize: none;
            }
            .formbold-form-input::placeholder,
            select.formbold-form-input,
            .formbold-form-input[type='date']::-webkit-datetime-edit-text,
            .formbold-form-input[type='date']::-webkit-datetime-edit-month-field,
            .formbold-form-input[type='date']::-webkit-datetime-edit-day-field,
            .formbold-form-input[type='date']::-webkit-datetime-edit-year-field {
              color:#a9a9a9;
            }
          
            .formbold-form-input:focus {
              border-color:var(--main-color);
              box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
            }
            .formbold-form-label {
              color:var(--main-color);
              font-weight: 500;
              font-size: 14px;
              line-height: 24px;
              display: block;
              margin-bottom: 10px;
            }
          
            .formbold-form-file-flex {
              display: flex;
              align-items: center;
              gap: 20px;
            }
            .formbold-form-file-flex .formbold-form-label {
              margin-bottom: 0rem;
           
            }
            .formbold-form-file {
              font-size:1.6rem;
              line-height: 24px;
              color:var(--black);
            }
            .formbold-form-file::-webkit-file-upload-button {
              display: none;
            }
            .formbold-form-file:before {
              content: 'Upload file';
              display: inline-block;
              background: #EEEEEE;
              border: 0.5px solid #FBFBFB;
              box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);
              border-radius: 3px;
              padding: 3px 12px;
              outline: none;
              white-space: nowrap;
              cursor: pointer;
              color: #637381;
              font-weight: 500;
              font-size: 12px;
              line-height: 16px;
              margin-right: 10px;
            }
          
            .formbold-btn {
              text-align: center;
              width: 100%;
              font-size:2.2rem;
              border-radius: .5rem;
              padding: 14px 25px;
              border: none;
              font-weight: 500;
              background-color:var(--main-color);
              color: white;
              cursor: pointer;
              margin-top: 25px;
            }
            .formbold-btn:hover {
             color: var(--black);
             
            }
            .formbold-w-45 {
              width: 45%;
            }


            .demTable{
                border:1px double;
                border-collapse:collapse;
                padding:3rem;
                width:80rem;
                height: 70rem;
                margin-top: 5rem; 
                margin-left: auto; 
                margin-right: auto;
            }
            .demTable th {
                border:2px double var(--oragen);
                padding:10px;
                background:var(--white);
                color:var(--main-color);
                font-size: 2rem;
            }
            .demTable td {
                border:2px double #b3adad;
                text-align:center;
                padding:5px;
                background:var(--light-bg);
                color:var(--black);
                font-size:2rem;
                text-align:left;
            }

            .demTable td:hover {
                background-color: var(--oragen);
            }
            

            

.teachers .search-teacher{
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 2rem;
    background-color: var(--white);
    border-radius: .5rem;
}

.teachers .search-teacher input{
    width: 100%;
    font-size: 1.7rem;
    color: var(--black);
    background: none;
}
.teachers .search-teacher button{
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
    background: none;
}

.teachers .search-teacher button:hover{
    color: var(--main-color);
}

.teachers .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem,1fr));
    gap: 1.5rem;
    align-items:flex-start;
    justify-content:center;
}

.teachers .box-container .box{
    position: relative;
    border-radius: .5rem;
    padding:2rem;
    background-color: var(--white);
}

.teachers .box-container .box .tutor{
  margin: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.teachers .box-container .box .tutor img{
    height:8rem;
    width:8rem;
    border-radius:50%;
    object-fit: cover;
}

.teachers .box-container .box .tutor h3{
   color: var(--black);
   font-size: 2rem;
   margin-bottom: .2rem;
}


.teachers .box-container .box .tutor span{
    color: var(--main-color);
    font-size: 1.2rem;
}

.teachers .box-container .box p{
    padding-top: 1rem;
    font-size: 1.7rem;
    color: var(--light-color);
}

.teachers .box-container .box p span{
   color: var(--main-color);
}

.teachers .box-container .offer{
    text-align: center;
}

.teachers .box-container .offer h3{
   font-size: 2rem;
   color: var(--black);
   text-align: center;
   font-weight: 900;
}

.teachers .box-container .offer p{
    line-height:2;
    padding-bottom: .5rem;
}


.tutor-profile .details{
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
}

.tutor-profile .details .tutor  {
  margin-bottom: 2rem;

}

.tutor-profile .details .tutor img  {
    height:12rem;
    width:12rem;
    border-radius:50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.tutor-profile .details .tutor h3 {
    font-size: 2rem;
    color: var(--black);
    margin: .5rem 0;
}

.tutor-profile .details .tutor span  {
    font-size: 1.5rem;
    color:var(--oragen);
}

.tutor-profile .details .flex {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex-wrap: wrap;
   
}

.tutor-profile .details .flex p{
    flex: 1 1 25rem;
    border-radius: .5rem;
    background-color:var(--light-bg);
    padding: 1rem 3rem;
    color: var(--light-color);
    font-size: 2rem;
}

.tutor-profile .details .flex p span{
    color: var(--main-color);
}
 .donation .details{
     background-color: var(--white);
     border-radius: .5rem;
     padding: 2rem;
    text-align: center;
 }
 
 .donation .details .donate  {
   margin-bottom: 2rem;
 
 }
 
 .donation .details .donate img  {
     height:15rem;
     width:15rem;
     border-radius:30%;
     object-fit: cover;
     margin-bottom: 1rem;
     border-width:.1rem;
    border-style: solid;
    border-color: var(--oragen);
 }
 
 .donation .details .donate h3 {
     font-size: 4rem;
     color: var(--black);
     margin: .5rem 0;
     text-align: center;
 }
 
 .donation .details .donate span  {
     font-size: 2rem;
     color:var(--oragen);
 }
 
 .donation .details .flex {
     display:grid;
     gap: 1.5rem;
     align-items: center;
     flex-wrap: wrap;
    
 }
 
 .donation .details .flex p{
     flex: 1 1 25rem;
     border-radius: .5rem;
     background-color:var(--light-bg);
     padding: 1rem 3rem;
     color: var(--light-color);
     font-size: 2rem;
     border-width:.1rem;
    border-style: solid;
    border-color: var(--oragen);
 }
 
 .donation .details .flex p span{
     color: var(--main-color);
 }
 
.contact .row{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.contact .row .image{
    flex: 1 1 50rem;
}
.contact .row .image img{
    height: 50rem;
    width: 100%;
    border-radius: .5rem;
}

.contact .row form{
    flex: 1 1 30rem;
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    border-width:.1rem;
    border-style: solid;
    border-color: var(--main-color);
}

.contact .row form h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--black);
}

.contact .row form .box{
  width: 100%;
  margin: 1rem 0;
  border-radius: .5rem;
  background-color: var(--light-bg);
  padding: 1.4rem;
  color: var(--black);
  font-size: 1.8rem;
}

.contact .row form textarea{
    height: 20rem;
    resize:none;
}

.contact .box-container {
    margin-top: 3rem;
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.contact .box-container .box {
    flex: 1 1 30rem;
    background-color:var(--white);
    border-radius: .5rem;
    padding: 2rem;
    align-items: center;
    border-width:.1rem;
    border-style: solid;
    border-color: var(--oragen);
}

.contact .box-container .box i {
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.contact .box-container .box h3 {
    margin: 1.5rem 0;
    font-size: 2rem;
    color:var(--black)
}
.contact .box-container .box a{
   display: block;
   font-size: 1.7rem;
   color: var(--light-color);
   line-height: 2;
  margin-top:.5rem;
}
.contact .box-container .box a:hover{
    text-decoration: underline;
    color: var(--main-color);
}

.profile .details{
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
}
.profile .details .user{
  text-align: center;
  margin-bottom: 2rem;
}

.profile .details .user img{
    height: 10rem;
    width: 1orem;
    border-radius:50%;
    object-fit: cover;
    margin-bottom: .5rem;
}


.profile .details .user h3{
    font-size: 2rem;
    margin: .5rem 0;
    color: var(--light-color);
}
.profile .details .user p{
    font-size: 1.5rem;
    color: var(--light-color);
}

.profile .details .box-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 1.5rem;
}

.profile .details .box-container .box{
    background-color: var(--light-bg);
    border-radius: .5rem;
    padding: 1.5rem;
    flex:1 1 30rem;
    border-width:.1rem;
    border-style: solid;
    border-color: var(--oragen);
} 

.profile .details .box-container .box .flex{
    display: flex;
    align-items:center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.profile .details .box-container .box .flex i{
    height: 4.5rem;
    width: 4.5rem;
    border-radius:.5rem;
    background-color: var(--black);
    line-height: 4.4rem;
    font-size: 2rem;
    color: var(--white);
    text-align: center;
}

.profile .details .box-container .box .flex h3{
    font-size: 2rem;
    color:var(--main-color);
    margin-bottom: .2rem;
}

.profile .details .box-container .box .flex span{
    font-size: 1.5rem;
    color: var(--light-color);
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 20rem);
}

.form-container form{
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    width: 50rem;
    border-width:.1rem;
    border-style: solid;
    border-color: var(--oragen);
}

.form-container form p{
    padding-top: 1rem;
    font-size: 1.7rem;
    color: var(--light-color);
}

.form-container form p span{
    color: var(--red);
}

.form-container form .box{
    width: 100%;
    border-radius: .5rem;
    margin: 1rem 0;
    font-size: 1.8rem;
    color: var(--black);
    padding: 1.4rem;
    background-color: var(--light-bg);
}

.form-container form h3{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--light-color);
}

.form-container p{
    font-size: 1.5rem;
    color: var(--light-color);
    padding-top: 5rem;
    text-align: center;
}
.form-container p a{
    color: var(--main-color);
}





  
  
  @keyframes fadeIn {
    from {top: 20%; opacity: 0;}
    to {top: 100; opacity: 1;}
    
  }
  
  @-webkit-keyframes fadeIn {
    from {top: 20%; opacity: 0;}
    to {top: 100; opacity: 1;}
    
  }
  
  .wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    animation: fadeIn 1000ms ease;
    -webkit-animation: fadeIn 1000ms ease;
    
  }
  
  h2 {
    font-size: 4rem;
    margin-bottom: 0;
    line-height: 1;
    text-align: center;
    color: var(--oragen);
    margin-right: 2rem;

  }
  
  .dot {
    color:var(--oragen);
  }
  
  p {
    text-align: center;
    margin: 18px;
    font-size: 3rem;
    color: var(--);
  }
  
  


























.footer{
    position: sticky;
    bottom: 0; right: 0; left: 0;
    background-color: var(--white);
    border-top: var(--border);
    padding: 2.5rem 2rem;
    text-align: center;
    color: var(--black);
    font-size: 2rem;
    margin-top: 2rem;
    z-index: 1000;
}

.footer span{
    color:var(--main-color) ;
}
































































































































































@media (max-width:1200px) {
     body{
          padding-left: 0;
     }
    
     .side-bar{
        transition: .2s linear;
        left: -30rem;
     }

     .side-bar.active{
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0,0,0,.7);
     }

     .side-bar .close-side-bar{
         display: block;
     }
}





@media (max-width:991px){
    html{
        font-size: 55%;
    }
}

@media (max-width:768px){

    #search-btn{
     display: inline-block;
    }

    .header .flex .search-form{
        position: absolute;
        top: 99%; left: 0; right: 0;
        width: auto;
        border-top: var(--border);
        border-bottom: var(--border);
        background-color: var(--white);
        clip-path: polygon(0 0, 100% 0, 100% 0,0 0);
        transition: .2s linear;
    }

    .header .flex .search-form.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

}


@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .heading{
        font-size: 2rem;
    }
    .flex-btn{
        flex-flow: column;
        gap: 0;
    }


    .about .row .image img{
        height:auto;
    }

    .playlist .row .col .row .thumb{
        height:10rem;
    }

    
}

@media (max-width:450px){
    .watch-video .video-details .box .video{
        width: 30rem;
        height: 17rem;
    }

    .container{
        width: 30rem;
        height: 17rem;
    }
}

@media (max-width:450px){
    .formbold-main-wrapper{
       width:55rem;
       height:auto;
       display: flex; 
    }

    .demTable{
        width:55rem;
        height:auto;
    }

    .donation{
        width:55rem;
        height:auto;
        display: grid;
    }

    .contact .row .image img{
        height: auto;
    }

   
}

@media (max-width:450px) {
    .reading .box-container .box h1{
        font-size: 1rem;

    }
}

@media(max-width:450px){
    .reading .heading .box-container{
        width: 55rem;
    }

    .wrapper h2 p{
        font-size: 2rem;

    }
}